---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 1m0s
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 5m0s
  releaseName: kube-prometheus-stack
  targetNamespace: monitoring
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 77.13.0
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
      interval: 1m0s
  values:
    crds:
      enabled: true
    route:
      main:
        enabled: true
    fullnameOverride: monitoring
    namespaceOverride: monitoring
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  test:
    enable: true
    ignoreFailures: true
  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/spec/replicas"]
  dependsOn:
    - name: cert-manager
    - name: cilium
    - name: openbao
    - name: longhorn
    - name: external-secrets
    - name: external-dns
