---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 24h
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  releaseName: kube-prometheus-stack
  targetNamespace: monitoring
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 77.13.0
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
      interval: 6h
  values:
    crds:
      enabled: true
    route:
      main:
        enabled: true
    fullnameOverride: monitoring
    namespaceOverride: monitoring
    prometheus:
      prometheusSpec:
        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
    grafana:
      resources:
        requests:
          cpu: "100m"
          memory: "128Mi"
    alertmanager:
      alertmanagerSpec:
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
  dependsOn:
    - name: cert-manager
    - name: cilium
    - name: longhorn
    - name: external-dns
    - name: openbao
    - name: external-secrets
