---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-token
  namespace: cert-manager
spec:
  refreshInterval: 15s
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-backend
  target:
    name: cloudflare-token
  dataFrom:
    - extract:
        key: cloudflare-token
# when using ClusterExternalSecret, you can specify which namespaces can access the secret in this way:
# namespaceSelector:
#   matchExpressions:
#     - key: kubernetes.io/metadata.name
#       operator: In
#       values:
#         - cert-manager
