---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pihole
  namespace: external-dns
spec:
  refreshInterval: 24h
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-backend
  target:
    name: pihole
  dataFrom: # extract all keys from the secret!
    - extract:
        key: pihole
